apiVersion: apps/v1
kind: Deployment
metadata:
  name: config-server
  namespace: microservices
spec:
  replicas: 1
  selector:
    matchLabels:
      app: config-server
  template:
    metadata:
      labels:
        app: config-server
    spec:
      containers:
      - name: config-server
        image: hushhrf/config-server:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8888
        envFrom:
        - configMapRef:
            name: app-config
        env:
        - name: SPRING_CONFIG_IMPORT
          value: ""
        - name: JAVA_TOOL_OPTIONS
          value: "-Xmx192M -Xms64M -Dserver.port=8888"
        resources:
          requests:
            memory: "128Mi"
            cpu: "50m"
          limits:
            memory: "384Mi"
            cpu: "300m"
        livenessProbe:
          httpGet:
            path: /actuator/health
            port: 8888
          initialDelaySeconds: 240
          periodSeconds: 15
        readinessProbe:
          httpGet:
            path: /actuator/health
            port: 8888
          initialDelaySeconds: 180
          periodSeconds: 10
