apiVersion: v1
kind: Service
metadata:
  name: eureka-server
  namespace: microservices
spec:
  type: NodePort
  ports:
    - port: 8761
      targetPort: 8761
      protocol: TCP
  selector:
    app: eureka-server

