apiVersion: v1
kind: Service
metadata:
  name: gateway
  namespace: microservices
spec:
  type: NodePort  # Use LoadBalancer for AWS ELB, or ClusterIP with Ingress
  ports:
    - port: 8080
      targetPort: 8080
      protocol: TCP
  selector:
    app: gateway

